@import "../Utils/mixins.scss";
@import "../Utils/variables.scss";

.town {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: #f3f3f3;
    text-align: center;
    padding: 1.5rem;
    & i {
        font-size: 1.5rem;
    }
}

.explorer {
    text-align: center;
    
& h2 {
    margin: 2rem 0 1rem;
    font-size: 2rem;
}
& p {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}
& button {
    @include box-button;
}
& button:hover {
    transform: scale(1.05);
    opacity: .9;
    box-shadow: 12px 10px 18px 3px #000;
   }
}

.choose {
    margin: 5px 10px 5px 1px;
    &__title {
    margin: 30px;
    }
}
.choose__card {
    height :65px;
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    box-shadow: 2px 2px 10px #c4c3c0;
    border-radius: 1rem;
    padding: 0 70px 0 30px;
    margin-bottom: 20px;
    & p {
    margin-left: 15px;
    font-weight: bold;
    font-size: 1.2rem;
    }
    &-number {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin-right: -10px;
    background-color: $color-primary;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: -45px;
    color: white;
    }
    & fas {
    color: #c4c3c0;
    }
    &:hover {
    background-color: #f2eafb;
    }
    &:hover:nth-child(3) {
    color: $color-primary;
    }
}

.Restaurants {
    background-color: #f6f6f6;
    padding: 0px 20px;
    h2 {
        margin: 3rem 0 2rem 1.5rem;         
    }
    & .fas {
    @include heart;
    }  
}

.menus__cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    background-repeat: no-repeat;
    & a {
        height: 20rem;          
        border-radius: 1rem;         
        box-shadow: 2px 2px 10px #c4c3c0;
    }
}
.menus__cards img {
    height: 14rem;
    border-radius: 1rem 1rem 0 0;
    width: 100%; 
    object-fit: cover;
    background-size: cover;
    
}
.new {
    position: relative;
    &::before {
    content: "nouveau";
    position: absolute;
    height: 2rem;
    width: 5rem;
    background-color: $color-tertiary;
    color: darken($color: $color-tertiary, $amount: 50%);
    display: grid;
    place-items: center;
    right: 1rem;
    top: -12rem;
    }
    & {
        animation-duration: .8s;
        animation-name: clignoter;
        animation-iteration-count: infinite;
        transition: none;
    }
    

}
.card__description {
    position: relative;
    h3,p {
        margin: .5rem;
    }
    i {
        font-size: 2rem;
        position: absolute;
        right: 1rem;
        top: 50%;        
        transform: translateY(-70%);
    }     
}


.loader {
    position: fixed;
    display: grid;
    place-items: center;
    inset: 0;
    background-color: #ffffff;
    color: $color-secondary;
    z-index: 1;
    opacity: .9;
    animation: welcome 300ms 2s forwards;
    transform-origin: top;
}

