@keyframes spin-off {
    0% {
        transform: rotate(-270deg);
    }
    100% {
        transform: rotate(0);
    }
}

@keyframes menu-page {
    from {
        transform: translateY(80%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}